body
{
	background-color: #f0f0f0;
	font-family:arial;
}

.login_form {
    width:400px;
    height:200px;
    background-color:#d9d9d9;
    position:absolute;
    margin-left:-200px;
    margin-top:-100px;
    top:50%;
    left:50%;
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.loginerror {
	background-color:red;
}

table.login_form td {
	padding: 2px;
}

td.center {
	text-align: center;
}

div.login_form_wrapper input[type="text"], div.login_form_wrapper input[type="password"] {
	width: 230px;
}

div.login_form_wrapper input[type="button"], div.login_form_wrapper input[type="reset"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

div.login_form_wrapper input[type="button"]:hover, div.login_form_wrapper input[type="reset"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

div.login_form_wrapper input[type="button"]:active, div.login_form_wrapper input[type="reset"]:active {
	position:relative;
	top:1px;
}

.login_form_wrapper {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}